{% extends 'sa_admin/base.html' %}
{% load static %}
{% load django_vite %}

{% block title %}Shareabouts Admin - Idea #{{ place_id }}{% endblock %}

{% block body_classes %}place-detail{% endblock %}

{% block heading %}Shareabouts Admin - Idea #{{ place_id }}{% endblock %}

{% block vite_assets %}
  {% vite_asset 'sa_admin/detail/main.js' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
  <script>
    window.__SA_PLACE_ID__ = {{ place_id }};
  </script>
  {{ block.super }}
{% endblock %}