.report {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--iia-dark-blue);
}

#app {
    padding: 1rem;
}

p {
    color: var(--iia-fog-grey);
}

h1 {
    color: white;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    margin: 0;
    background: white;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: var(--iia-dark-blue);
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0.5rem;
}

/* Stat cards*/
.stat-card {
    padding: 1rem;
}

.stat-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: var(--iia-vibrant-green);
    text-transform: uppercase;
}

.stat-line {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--iia-fog-grey);
}

.stat-callout {
    background: var(--iia-urban-pink);
}