/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

:root {
  --charles-blue: #091f2f;
  --optimistic-blue: #288be4;
  --freedom-trail-red: #fb4d42;

  --supporting-red-1: #d22d23; /* This is not in the style guide, but is the bg color of the menu button on boston.gov */

  --supporting-blue-1: #061622;
  --supporting-blue-2: #0C2639;
  --supporting-blue-3: #45789C;
  --supporting-blue-4: #51ACFF;
  --supporting-blue-5: #1871bd; /* This is not in the style guide, but is the bg color for buttons on boston.gov */

  --supporting-gray-1: #58585B;
  --supporting-gray-2: #D2D2D2;
  --supporting-gray-3: #E0E0E0;
  --supporting-gray-4: #F2F2F2;

  --banner-height: 65px;

  --header-font: 'Montserrat', 'Mada', sans-serif;
  --body-font: 'Lora', 'Markazi', serif;
}

body {
  font-family: var(--body-font);
  color: var(--charles-blue);
  background-color: var(--charles-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1.125rem;
  line-height: 2.166667em;
}

.btn {
  padding: 1.275em 1.5em;
  background-color: var(--supporting-blue-5);
  font-family: var(--header-font);
  font-size: 0.77778rem;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* =Header
-------------------------------------------------------------- */
#site-header {
  box-sizing: border-box;
  padding: 0.5rem;
  height: var(--banner-height);
  background-color: white;
}

#site-title {
  float: none;
  font-family: var(--header-font);
  color: var(--charles-blue);
  text-shadow: none;
}

.menu .btn-block {
  padding: 1.275em 1.5em;
  background-color: var(--supporting-blue-5);
  color: white;
}

.access {
  float: none;
  margin: 0.5rem -0.5rem;
  width: calc(100% + 1rem);
  background-color: var(--charles-blue);
}

.access .btn {
  text-align: left;
  padding: 1.75rem 1.25rem;
}

.access li {
  padding-bottom: 2px;
}

.access li li {
  padding-bottom: 0;
  padding-top: 2px;
  padding-left: 1.5rem;
}

.has-pages #site-title {
  padding-left: var(--banner-height);
}

#site-title a {
  display: flex;
}

#site-title a:link, #site-title a:visited {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--charles-blue);
}

#site-title .boston-icon {
  /* intrinsic size of the boston icon is 54px x 84px */
  --aspect-ratio: calc(54 / 84);
  --icon-height: 2rem;

  display: block;
  height: var(--icon-height);
  margin: -0.5rem 0.5rem -0.5rem -0.5rem;
  padding:
    calc(var(--banner-height) / 2 - var(--icon-height) / 2)
    calc(var(--banner-height) / 2 - var(--icon-height) * var(--aspect-ratio) / 2);
  background-color: var(--charles-blue);
}

#site-title .pb-icon {
  /* intrinsic size of the boston icon is 182px x 174px */
  --aspect-ratio: calc(182 / 174);
  --icon-height: 2.5rem;

  display: none;
  height: var(--icon-height);
  margin: -0.5rem 0 -0.5rem -0.5rem;
  padding:
    calc(var(--banner-height) / 2 - var(--icon-height) / 2)
    calc(var(--banner-height) / 2 - var(--icon-height) * var(--aspect-ratio) / 2);
  background-color: white;
}

#site-title .boston-logo {
  display: none;
}

#nav-btn {
  left: 0;
  top: 0;
  width: var(--banner-height);
  height: var(--banner-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: var(--supporting-red-1);

  font-size: 3rem;
  color: white;
  text-shadow: none;
}

.menu-item-filter-type > .btn::after {
  content: '…';
}

.menu-item-filter-type li .btn::before {
  content: '›\a0\a0\a0';  /* U+00a0 is non-breaking space */
}

.user-menu {
  display: none;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
  #site-title .pb-icon {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .has-pages #site-title{
    height: 100%;
    padding-left: 50px;
  }

  #nav-btn {
    display: none;
  }

  #site-title a:link, #site-title a:visited {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 1.2rem;
  }

  #site-title .boston-icon {
    display: none;
  }

  #site-title .pb-icon {
    position: absolute;
    left: calc(var(--banner-height) / 2 - var(--icon-height) * var(--aspect-ratio) / 2);
    top: calc(var(--banner-height) / 2 - var(--icon-height) / 2 - 1px);
    --icon-height: 3rem;
  }

  #site-title .boston-logo {
    display: block;
    height: 1.2rem;
  }
}

@media only screen and (min-width: 1300px) {
}