<html>

<head>
  <title>Office of Participatory Budgeting - Thank you for your idea!</title>

  <!-- Google WebFonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:ital@0;1&family=Mada:wght@400;700&family=Markazi+Text&family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <table cellpadding="0" width="100%" align="center" cellspacing="0" border="0"
    style="border-collapse:collapse;color:#333333;background:#f5f5f5">
    <tbody>
      <!-- Top gray border -->
      <tr>
        <td height="30" style="border-collapse:collapse;color:#333;background-color:#f5f5f5">&nbsp;</td>
      </tr>
      <!-- Message header -->
      <tr>
        <td align="center" valign="top" style="border-collapse:collapse;color:#333;background-color:#f5f5f5;padding:0">
          <table cellpadding="0" align="center" cellspacing="0"
            style="border-collapse:collapse;width:640px;border:none;background:#ffffff;table-layout:fixed">
            <tbody>
              <tr>
                <td align="center" valign="top" style="border-collapse:collapse;color:#333333;background:#ffffff">
                  <div style="border:medium;padding-top:0px;outline:0px">
                    <table cellpadding="0" width="100%" cellspacing="0" border="0"
                      style="border-collapse:collapse;background:#ffffff">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="border-collapse:collapse;color:#333333;padding:25px">
                            <table cellpadding="0" width="100%" cellspacing="0" border="0"
                              style="border-collapse:collapse">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" style="border-collapse:collapse;color:#333333">
                                    <table cellpadding="0" width="100%" cellspacing="0" border="0"
                                      style="border-collapse:collapse">
                                      <tbody>
                                        <tr>
                                          <td align="left" valign="top" style="border-collapse:collapse;color:#333333">
                                            <div align="left"
                                              style="padding:0px;font-size:0pt;line-height:0pt;text-align:left">
                                              <div style="min-height:0px">

                                                <!-- ========================= -->
                                                <!-- CITY OF BOSTON LOGO IMAGE -->
                                                <!-- ========================= -->

                                                <div><img height="32" width="250" alt="CITY OF BOSTON"
                                                    src="{{ site_root }}static/css/images/boston-logo.png"
                                                    style="border:0;outline:none!important"></div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="10"
                                            style="border-collapse:collapse;color:#333333;line-height:1px;font-size:1px">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="left" valign="top" style="border-collapse:collapse;color:#333333">
                                            <div
                                              style="font-family:'Montserrat',Arial,sans-serif;font-size:22px;font-weight:700!important;line-height:26px!important">
                                              <div style="min-height:0px;outline:0px">
                                                <div style="color:rgb(51,51,51)">

                                                  <!-- ======================================== -->
                                                  <!-- OFFICE OF PARTICIPATORY BUDGETING HEADER -->
                                                  <!-- ======================================== -->

                                                  <h2
                                                    style="font-weight:700!important;color:#001a42;margin:0px;line-height:26px!important;font-family:'Montserrat',Arial,sans-serif;font-size:22px">
                                                    Office of Participatory Budgeting</h2>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="40" style="border-collapse:collapse;width:40px;color:#333333">&nbsp;</td>
                                  <td width="90" align="right" valign="middle"
                                    style="border-collapse:collapse;color:#333333">
                                    <div align="center"
                                      style="padding:0px;font-size:0pt;line-height:0pt;text-align:center">
                                      <div style="min-height:0px;outline:0px">

                                        <!-- ============================================ -->
                                        <!-- OFFICE OF PARTICIPATORY BUDGETING LOGO IMAGE -->
                                        <!-- ============================================ -->

                                        <div><img height="85" width="90" alt=""
                                            src="{{ site_root }}static/css/images/pbboston-icon.png"
                                            style="height:auto!important;width:100%!important;border:0;outline:none!important;display:block!important">
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div style="outline:0px;padding-top:0px">
                    <table cellpadding="0" width="100%" cellspacing="0" border="0"
                      style="border-collapse:collapse;background:#ffffff">
                      <tbody>
                        <tr>
                          <td style="border-collapse:collapse;color:#333333">
                            <div style="font-size:0pt;line-height:0pt;height:15px">&nbsp;</div>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" style="border-collapse:collapse;color:#333333;padding:0px">
                            <table cellpadding="0" width="640" align="left" cellspacing="0" border="0"
                              style="border-collapse:collapse;width:640px">
                              <tbody>
                                <tr>
                                  <td style="border-collapse:collapse;color:#333333">
                                    <div
                                      style="height:1px;color:#333333;background:#a9a9a9;line-height:0pt;font-size:0pt">
                                      &nbsp;</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="border-collapse:collapse;color:#333333">
                            <div style="font-size:0pt;line-height:0pt;height:15px">&nbsp;</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- Message body -->
      <tr>
        <td align="center" valign="top">
          <table style="border-collapse:collapse;width:640px;border:none;background:#ffffff;table-layout:fixed">
            <tbody>
              <tr>
                <td style="border-collapse:collapse;background-color:#ffffff;color:#333333;padding: 10px 25px">
                  <div style="min-height:0;font-weight:400!important;color:#1a1a1a;line-height:20px!important;font-family:'Lora',Arial,sans-serif;text-align:left;font-size:14px">
                    <strong>Hello, {{ requested_place.properties.private_submitter_name_first }} {{ requested_place.properties.private_submitter_name_last }}!</strong><br>
                    <br>
                    Thank you for sharing your Participatory Budgeting idea for the City of Boston!<br>
                    <br>
                    Here is what you suggested: <strong><a href="{{ site_root }}place/{{ place.id }}">{{ place.properties.title }}</a></strong><br>
                    <br>
                    To stay informed and involved in Boston’s Participatory Budgeting process, please click the link below to
                    sign up!<br>
                    <br>
                    <a href="...">[Link TBD]</a><br>
                    <br>
                    To learn more information about the PB in Boston, please visit <a
                      href="http://boston.gov/Participate">Boston.gov/Participate</a>.<br>
                    <br>
                    Thanks!<br>
                    The Office of Participatory Budgeting
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- Message footer -->
      <tr>
        <td align="center" valign="top">
          <table style="border-collapse:collapse;width:640px;border:none;background:#ffffff;table-layout:fixed">
            <tbody>
              <tr>
                <td style="border-collapse:collapse;background-color:#ffffff;color:#333333">
                  <table cellpadding="0" width="100%" cellspacing="0" border="0"
                    style="border-collapse:collapse;color:#333333;background:rgb(255,255,255)">
                    <tbody>
                      <tr>
                        <td style="border-collapse:collapse;color:#333333">
                          <div style="font-size:0pt;line-height:0pt;height:5px">&nbsp;</div>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" style="border-collapse:collapse;color:#333333;padding:10px 25px">
                          <table cellpadding="0" width="588" align="left" cellspacing="0" border="0"
                            style="border-collapse:collapse;width:588px;background:rgb(243,243,243)">
                            <tbody>
                              <tr>
                                <td valign="top" style="border-collapse:collapse;color:#333333;padding:0px 15px">
                                  <table cellpadding="0" width="528" align="center" cellspacing="0" border="0"
                                    style="border-collapse:collapse;width:528px">
                                    <tbody>
                                      <tr>
                                        <td style="border-collapse:collapse;color:#333333">
                                          <div style="font-size:0pt;line-height:0pt;height:10px">&nbsp;</div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td valign="top" style="border-collapse:collapse;color:#333333">
                                          <table cellpadding="0" width="250" align="left" cellspacing="0" border="0"
                                            style="border-collapse:collapse;width:250px;margin-right:10px">
                                            <tbody>
                                              <tr>
                                                <td valign="top"
                                                  style="border-collapse:collapse;padding-bottom:10px;color:#333333">
                                                  <div align="center" style="font-size:0pt;line-height:0pt;text-align:center">
                                                    <div style="min-height:0px">

                                                        <!-- ========================= -->
                                                        <!-- CITY OF BOSTON SEAL IMAGE -->
                                                        <!-- ========================= -->

                                                        <div><img height="81" width="225" alt=""
                                                          src="{{ site_root }}static/css/images/boston-seal.png"
                                                          style="height:auto!important;width:100%!important;border:0;outline:none!important;display:block!important"></div>
                                                    </div>
                                                  </div>
                                                </td>
                                                <td width="15" align="right"
                                                  style="border-collapse:collapse;width:15px;color:#333333"> </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <table cellpadding="0" width="250" align="right" cellspacing="0" border="0"
                                            style="border-collapse:collapse;width:250px">
                                            <tbody>
                                              <tr>
                                                <td style="border-collapse:collapse;color:#333333">
                                                  <div style="font-size:0pt;line-height:0pt;height:10px">&nbsp;</div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" style="border-collapse:collapse;color:#333333">
                                                  <div align="left"
                                                    style="font-weight:400!important;color:#1a1a1a;line-height:18px!important;font-family:'Lora',Times New Roman;text-align:left;font-size:12px">
                                                    <div style="min-height:0px">
                                                      <div
                                                        style="font-weight:400!important;color:rgb(150,140,131);line-height:18px!important;font-family:'Lora',Times New Roman;font-size:12px">
                                                        Boston City Hall, 1 City Hall Square, Boston, Massachusetts 02201,
                                                        United States<br><a
                                                          href="https://www.boston.gov/"
                                                          style="border-collapse:collapse;color:rgb(24,112,189);text-decoration:none"
                                                          target="_blank">Boston.gov</a><br></div>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- Bottom gray border -->
      <tr>
        <td height="30" style="border-collapse:collapse;color:#333;background-color:#f5f5f5">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</body>

</html>