{% load jstemplate %}
{% load i18n %}
{% load shareabouts_utils %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ config.app.title }}</title>
  <meta name="description" content="{{ config.app.meta_description }}">
  <meta name="author" content="{{ config.app.meta_author }}">

  <!-- Social Media meta tags and such -->
  {% block meta %}{% endblock %}

  <!-- Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

  {% block app_icons %}
  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="{{ config.static_url }}css/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ config.static_url }}css/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ config.static_url }}css/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ config.static_url }}css/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ config.static_url }}css/images/apple-touch-icon-precomposed.png">
  {% endblock app_icons %}

  <!-- Google WebFonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:ital@0;1&family=Mada:wght@400;700&family=Markazi+Text&family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap" rel="stylesheet">

  {% if settings.DEBUG %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'dist/app.css' %}?_={{settings.LAST_DEPLOY_DATE}}">
  {% endif %}

  <!-- Base PB Boston Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/pbboston.css' %}?_={{settings.LAST_DEPLOY_DATE}}">

  <!-- Flavor's Custom Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}?_={{settings.LAST_DEPLOY_DATE}}">


  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/perliedman-leaflet-control-geocoder/1.13.0/Control.Geocoder.css" />
</head>
<body class="prelaunch {% if config.map.geocoding_enabled %} geocoding-enabled{% endif %}">
  {% block sentry_init %}
    {% if settings.RAVEN_CONFIG.public_dsn %}{% include '_sentry_init.html' %}{% endif %}
  {% endblock %}

  <header id="site-header" class="clearfix has-pages">
    {% block header_intro %}
    <div id="boston-small-screen-lead-in" class="boston-small-screen-lead-in">
      <img class="boston-logo" alt="" src="{% static 'css/images/boston-logo-white.png' %}"><br>
      <span class="pb-label">Participatory Budgeting</span>
    </div>
    {% endblock %}

    <h1 id="site-title">{% block site-title %}
      <a href="/" data-internal="true">
        <img class="boston-icon" alt="" src="{% static 'css/images/boston-icon-light.svg' %}">
        <img class="pb-icon" alt="" src="{% static 'css/images/pbboston-icon.svg' %}">
        <img class="boston-logo" alt="" src="{% static 'css/images/boston-logo.svg' %}">
        <span class="pb-label">Participatory Budgeting</span>
      </a>
    {% endblock %}</h1>

    {% block pre_auth_nav %}{% endblock %}
    <div id="auth-nav-container"></div>
    {% block post_auth_nav %}{% endblock %}

    {% block pre_pages_nav %}{% endblock %}
    <div id="pages-nav-container">
      <a href="#" id="nav-btn">≡</a>
      <nav class="access" aria-label="Map information">
        <ul class="menu">
          <li class="menu-item">
            <a class="btn btn-block btn-secondary" href="https://www.boston.gov/departments/participatory-budgeting" target="_blank">Boston PB Home</a>
          </li>
        </ul>
      </nav>
    </div>
    <script>
      document.getElementById('nav-btn').addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelector('nav.access').classList.toggle('is-exposed');
      });
    </script>
    {% block post_pages_nav %}{% endblock %}

    {% if config.data.app.list_enabled != False %}
    {% endif %}

    {% if config.languages %}
      {% include 'language_picker.html' %}
    {% endif %}

  </header>

  <main id="main">
    {% comment %} <h2>Welcome to Participatory Budgeting in Boston!</h2> {% endcomment %}

    <p>{% translate "Participatory Budgeting (PB) is a democratic process where community members
    directly decide how to spend part of a public budget. The goal of Participatory
    Budgeting in Boston is to empower residents to elevate community centered
    project ideas with an emphasis on social and racial equity." %}</p>

    <p>{% translate "By engaging in Participatory Budgeting, Bostonians of all ages and
    backgrounds can help inform priorities and future investments for the
    City’s larger budget process." %}</p>

    <p><strong>{% blocktranslate %}Come back on {{ go_live_date|date:"F j, Y" }} to submit your project ideas!{% endblocktranslate %}</strong></p>
  </main><!-- end #main -->

  <script>
    Shareabouts = { bootstrapped: {} };
    Shareabouts.bootstrapped.site_root = '{{ site_root }}';
  </script>
  <script src="{% static 'js/language-picker.js' %}"></script>

  {% if settings.GOOGLE_ANALYTICS_ID %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0MC3WBKNWZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ settings.GOOGLE_ANALYTICS_ID }}');
  </script>
  {% endif %}

</body>
</html>
