#home-page,
#ballot-page,
#auth-page,
#faq-page {
    padding: 1.5rem;
    margin-top: 5vh;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#app {
    flex: 1;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--iia-dark-blue);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    justify-self: center;
}

label {
    color: var(--iia-dark-blue);
}

input[type="checkbox"]:hover {
    border-color: var(--iia-vibrant-green);
    background-color: var(--iia-fog-grey);
}


input[type="checkbox"]:checked {
    background-color: var(--iia-vibrant-green);
    border-color: var(--iia-vibrant-green);
}


summary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* Text formatting */
.secondary-emphasis {
    color: var(--iia-vibrant-green);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 0.1rem;
}

/* Welcome page */
.vote-link {
    background-color: var(--iia-urban-pink-alt);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    height: fit-content;
    width: 65vw;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
}

.vote-link p {
    color: white;
    font-size: 2rem;
    font-weight: 550;
    line-height: 1em;
    align-content: center;
    margin: 0;
}

.vote-link:hover {
    background-color: var(--iia-electric-purple-alt) !important;
}

#home-vote-deadline {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Ballot page */
#ballot-banner-unverified {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--iia-urban-pink);
    color: white;
}

#ballot-banner-verified {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--iia-dark-blue);
    padding: 20px;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--iia-vibrant-green);
    box-shadow: 0 0 0.325em rgba(0, 0, 0, 0.1);
}

.proposal-card-top {
    display: flex;
    flex-direction: row;
}

.proposal-card-top-left>.proposal-checkbox {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.proposal-checkbox:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

#ballot-banner-verified-summary {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

#ballot-banner-verified-contents {
    display: flex;
    flex-direction: column;
}

#ballot-banner-subtext {
    font-weight: 400;
    font-size: 1.2rem;
}


summary.ballot-banner-verified-summary:after {
    content: "\002B";
    display: inline-block;
    text-align: center;
    text-justify: center;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

details[open] summary.ballot-banner-verified-summary {
    padding-bottom: 1rem;
}

details[open] summary.ballot-banner-verified-summary:after {
    transform: rotate(45deg);
}

.no-proposal-selections {
    /* lock the banner expansion when no proposals are selected */
    pointer-events: none;
}

summary.ballot-banner-verified-summary.no-proposal-selections:after {
    content: none;
}

details[open] summary.ballot-banner-verified-summary.no-proposal-selections:after {
    content: none;
}

.selected-proposals {
    padding: 0;
    margin: 0;
}

.selected-proposal {
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 0.5rem;
    list-style: none;
    width: 70vw;
    color: var(--iia-dark-blue);
    background: var(--iia-vibrant-green);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.selected-proposal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    overflow: hidden;
}

.selected-proposal-remove {
    display: flex;
    justify-content: center;
    align-content: center;
    border-left: 1px solid var(--iia-dark-blue);
}

.selected-proposal-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: ellipsis;
    font-weight: 600;
    font-size: 1.2rem;
}

.selected-proposal-amt {
    font-size: 1rem;
    font-weight: 400;
}

.selected-proposal-remove:after {
    content: "\00D7";
    position: absolute;
    font-weight: 600;
    font-size: 2.5rem;
}

.proposal-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.proposal-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    border: 4px solid white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.proposal-title, .proposal-description {
    color: var(--iia-dark-blue);
}
.proposal-card:has(input[type="checkbox"]:checked) {
    border: 4px solid var(--iia-vibrant-green);
}

.proposal-card-top-left {
    display: inline-flex;
    width: 2rem;
    height: 1rem;
    align-content: center;
}

.proposal-title {
    font-weight: 600;
}

.proposal-cost {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--iia-vibrant-green);
}

.proposal-description {
    margin-bottom: 0.5rem;
}

.proposal-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Auth page */
.voter-attestation-list {
    list-style-type: disc;
    padding: 0.5rem;
}

.voter-attestation-list li {
    margin-bottom: 10px;
}

.voter-attestation-list li>label {
    align-items: top;
}

#voter-name-input {
    width: 60%;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#verify-button {
    background-color: var(--iia-vibrant-green);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#unverify-button {
    background-color: var(--iia-urban-pink-alt);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* FAQ page */
.faq-section {
    margin-bottom: 2rem;
}

.faq-item {
    background: white;
}

summary.faq-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border: 1px solid var(--iia-callout-blue);
    padding: 0.5rem;
    font-weight: 500;
    transition: height 1s ease;
}


.faq-answer {
    border: 1px solid var(--iia-callout-blue);
    padding: 0.5rem;
    background: var(--iia-fog-grey);
}

summary.faq-question:after {
    content: "\002B";
    display: inline-block;
    transition: transform 0.3s ease;
}

details[open] summary.faq-question:after {
    transform: rotate(45deg);
}
