
#home-page, #ballot-page, #auth-page, #faq-page {
    padding: 1rem;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#app {
    flex: 1;
}

/* Ballot page */

#ballot-page {
    margin-top: 5vh;
}
#ballot-banner {
    box-sizing: border-box;
    background-color: var(--iia-urban-pink);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

.proposal-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.proposal-card {
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}