
#home-page, #ballot-page, #auth-page, #faq-page {
    padding: 1rem;
    margin-top: 5vh;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#app {
    flex: 1;
}

/* Text formatting */
.secondary-emphasis {
    color: var(--iia-vibrant-green);
    display: block;      
    width: fit-content;
    margin: 0 auto; 
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 0.1rem;
    padding: 0.1rem;
}

/* Welcome page */
.read-ballot-link {
    background-color: var(--iia-urban-pink-alt);
    display: flex;
    margin: 0 auto; 
    flex-direction: row;
    height: fit-content;
    width: 55vw;
    align-content: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
}

.read-ballot-link p {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.read-ballot-link:hover {
    background-color: var(--iia-electric-purple-alt) !important;
}

/* Ballot page */


#ballot-banner {
    box-sizing: border-box;
    background-color: var(--iia-urban-pink);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

.proposal-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.proposal-card {
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Auth page */ 
.voter-attestation-list {
    list-style: none;
    padding: 0.5rem;
  }
  
  .voter-attestation-list input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #cbd5e1;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .voter-attestation-list input[type="checkbox"]:hover {
    border-color: var(--iia-vibrant-green);
    background-color: #f8fafc;
  }
  
  .voter-attestation-list li {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
  }

  .voter-attestation-list li > label {
    align-items: top;
  }
  
  .voter-attestation-list input[type="checkbox"]:checked {
    background-color: var(--iia-vibrant-green);
    border-color: white;
  }
  

/* FAQ page */